{% extends "base.html" %}
{% block title %}
    {% if add_department %}
        Add Department
    {% else %}
        Edit Department
    {% endif %}
{% endblock %}
{% block content %}
<body class="text-center">
    <div class="container">
        <br/>
        <br/>
        <form method="POST" class="form-departments" style="color:white">
            {{ form.hidden_tag() }}
            {% if add_department %}
                <h1 class="h3 mb-3 font-weight-normal">Add Department</h1>
            {% else %}
                <h1 class="h3 mb-3 font-weight-normal">Edit Department</h1>
            {% endif %}
            <br>
            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="Name") }}
            {{ form.description.label() }}
            {{ form.description(class="form-control", placeholder="Description") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}